<!-- this div shows user info -->
<div>
	<p><%= @user.handle %></p>
	<p>Tweets: <%= @user.tweets.count %></p>
</div>

<p><%= current_user.handle %></p>


<!-- this div contains all the tweets (tweet feed) -->
<div>
	<ul>
	<% @tweets.each do |tweet|  %>
		<a href="/<%= tweet.user_id %>">this is the user id<%= tweet.user.id %></a>
		<li><%= tweet.text %></li>
	<% end %>
	</ul>
</div>


<div>
  <h1>Create a new Tweet!</h1>
  <form action="/tweets/new" method="post">
    <label> Tweet: </label>
    <textarea name="text" maxlength="140"> </textarea>
    <input type="submit" value="TWEET!!!">
  </form>
</div>

<div>
	<a href="/logout"><button type="button">Log out!</button></a>
</div>

