<!-- this div shows user info -->
<div>
	<p>@<%= @user.handle %>'s profile</p>
	<p>Tweets: <%= @user.tweets.count %></p>
	<p>Following: <%= @user.followings.count %></p>
	<p>Followers: <%= @user.followers.count %></p>
</div>

<div>
	<% if current_user != @user %>
		<% if current_user.followings.include? (@user) %>
			<form action="/users/unfollow" method="post">
				<input type="hidden" name="user_id" value="<%= @user.id %>">
		    <input type="submit" value="Unfollow <%= @user.handle %>">
		  </form>
	  <% else %>
		  <form action="/users/follow" method="post">
				<input type="hidden" name="user_id" value="<%= @user.id %>">
		    <input type="submit" value="Follow <%= @user.handle %>">
		  </form>
	  <% end %>
	<% end  %>
</div>

<p>current user @<%= current_user.handle %></p>


<!-- this div contains all the tweets (tweet feed) -->
<div>
	<ul>
	<% current_user.tweets.each do |tweet|  %>
		<a href="/<%= tweet.user_id %>">this is the user id<%= tweet.user.id %></a>
		<li><%= tweet.text %></li>
	<% end %>
	</ul>
</div>

<!-- all users -->
<div>
	<ul>
		<% @users.each do |user|  %>
			<a href="/users/<%= user.id %>"><%= user.handle %></a>
		<% end %>
	</ul>
</div>

<!-- list of followings -->

<!-- list of followers -->


<!-- This allows the user to create a new tweet -->
<div>
  <h1>Create a new Tweet!</h1>
  <form action="/tweets/new" method="post">
    <label> Tweet: </label>
    <textarea name="text" maxlength="140"></textarea>
    <input type="submit" value="TWEET!!!">
  </form>
</div>

<div>
	<a href="/logout"><button type="button">Log out!</button></a>
</div>

