<!-- this div shows user info -->
<div>
	<p>@<%= @user.handle %>'s profile</p>
	<p>Tweets: <%= @user.tweets.count %></p>
	<p>Following: <%= @user.followings.count %></p>
	<p>Followers: <%= @user.followers.count %></p>
</div>

<div>
	<% if current_user != @user %>
		<% if current_user.followings.include? (@user) %>
			<form action="/users/unfollow" method="post">
				<input type="hidden" name="user_id" value="<%= @user.id %>">
		    <input type="submit" value="Unfollow <%= @user.handle %>">
		  </form>
	  <% else %>
		  <form action="/users/follow" method="post">
				<input type="hidden" name="user_id" value="<%= @user.id %>">
		    <input type="submit" value="Follow <%= @user.handle %>">
		  </form>
	  <% end %>
	<% end  %>
</div>




<!-- on the current user page: this div contains user tweets and the users who they are following tweets (tweet feed) -->
<!-- on another users page: this div contains user tweets (tweet feed) -->
<div>
	<ul>
	<% if @user == current_user %>
		<% current_user.tweets.each do |tweet|  %>
			<li><%= tweet.text %> <a href="/users/<%= tweet.user_id %>">@<%= tweet.user.handle %></a></li>
		<% end %>
	<% end %>

	<% current_user.followings.each do |person|  %>	
		<% person.tweets.each do |tweet|  %>
			<li><%= tweet.text %> <a href="/users/<%= person.id %>">@<%= person.handle %></a></li>
		<% end %>
	<% end %>

	</ul>
</div>


<!-- new tweet form -->
<% if @user == current_user %>
	<div>
	  <form action="/tweets/new" method="post">
	    <textarea name="text" maxlength="140"></textarea>
	    <input type="submit" value="TWEET!!!">
	  </form>
	</div>
<% end %>
<div>
	<a href="/logout"><button type="button">Log out!</button></a>
</div>

